.container {
  min-height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  grid-template-areas:
    "topLeft topRight"
    "bottomLeft bottomRight"
  ;
}

.topLeft {
  grid-area: topLeft;
  padding: 1rem 2rem;
  border-radius: 1rem;

  background-color: #adbbe6;
}

.topRight {
  grid-area: topRight;
}

.bottomLeft {
  padding-top: 1rem;
  grid-area: bottomLeft;
}

.bottomRight {
  grid-area: bottomRight;
}
